@import "~/.cache/wal/colors-rofi-dark.rasi"

window {
    location: center;
    width: 20%;
    background-color: @background;
}

listview {
    spacing: 5px;
    lines: 3;
}

/* Currently playing / message at the top */
message {
    font: "JetBrainsMono Nerd Font Bold 38"; /* bigger font */
    text-color: @foreground;
    horizontal-align: 0.5; /* center text */
    padding: 20px;
}



/* Entry field */
entry {
  height: 0px;
}


/* Menu items */
element-text {
    font: "JetBrainsMono Nerd Font Bold 18";
    text-color: @foreground;
    horizontal-align: 0.5;
}

element-text selected {
    background-color: @active-background;
    text-color: @active-foreground;
}
